.btn-box2{
    margin-top: 35px;
}
.btn-box2 a{
    display: inline-block;
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 50px;
    border: 1px solid #de9190;
    color: #27272f;
    padding: 7px 35px 6px 7px;
}
.btn-box2 span{
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 22px;
    background-color: #de9190;
}
.btn-box2 a:hover{
    background-color: #de9190;
    transition: all 0.4s ease;
    color: white;
}
.btn-box2:hover span{
    background-color: #000000;
    transition: all 0.4s ease;
}